@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.header{
  @apply flex items-center justify-center bg-black/40
}

.card-element{
  @apply flex justify-between items-center
}
.card-container::-webkit-scrollbar-thumb{
  background-color: #164E63;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
.card-container::-webkit-scrollbar{
  width: 14px;
}
.card-container::-webkit-scrollbar-track{
  background: #ffffff;
}

/* Clase de sombra para la lista TODO */
.todo-shadow {
  box-shadow: 0 4px 6px #ef4444;
}

/* Clase de sombra para la lista In Progress */
.inprogress-shadow {
  box-shadow: 0 4px 6px #fde047;
}

/* Clase de sombra para la lista Done */
.done-shadow {
  box-shadow: 0 4px 6px #22c55e;
}